# Libs for this sample repo
#django==1.11.29      # included below
#gunicorn==19.10.0    # included below
dj_database_url==0.5.0
whitenoise==4.1.4
psycopg2==2.8.4

# Libs for debugging memory usage+leaks
psutil==5.7.0
memory_profiler==0.57.0
objgraph==3.4.1
dnspython==1.16.0
#pymongo==3.10.1
# Install pymongo@master with pyopenssl:
#git+https://github.com/mongodb/mongo-python-driver.git@master
#pyopenssl>=17.2.0
#requests<3.0.0
#service_identity>=18.1.0

# Libs from PYTHON-2172
django==1.11.29
Pillow==6.2.0
gunicorn==19.9.0
mysqlclient==1.4.4
twilio==6.12.0
xhtml2pdf==0.2.3
tablib==0.12.1
pytz==2018.4
stripe==1.12
boto==2.48.0
mock==1.0.1
pymongo[srv]==3.9.0
django-storages==1.6.5
celery==4.4.0
redis==2.9.1
APScheduler==3.5.3
django_compressor==2.2
selenium==2.35.0
newrelic==5.0.2.126
dropbox==9.4.0
requests==2.21.0
urllib3==1.24.2
google-api-python-client==1.6.6
httplib2==0.11.3
python-dateutil==2.8.0
simple-salesforce==0.65.1
eventlet==0.17.4
elasticsearch5==5.5.6
elasticsearch-dsl==5.4.0
user-agents==1.0.1
googlemaps==3.1.4
openpyxl==2.3.5
XlsxWriter==0.9.3
django-mptt==0.8.7
translate-toolkit==2.2.4
python-Levenshtein==0.12.0
phonenumbers==8.10.23
freezegun==0.3.8
sendgrid==4.0.0
unicodecsv==0.14.1
slacker==0.9.60
sqlparse==0.2.4
bleach==3.1.2
sentry-sdk==0.9.2
pypushwoosh==0.3.0
graphene_django==2.0
django-cors-headers==3.0.2
analytics-python==1.2.9
zeep==3.1.0
requests-futures==0.9.9
djangorestframework==3.9.3
drf-yasg==1.14.0
Deprecated==1.2.5
faker==1.0.4
future==0.17.1
six==1.12.0
graphene==2.1.8
django-filter==1.1.0
